@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JaminY_SMS.web</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JaminY_SMS.web.styles.css" asp-append-version="true" />

    <style>
        .background-image {
            background-image: url('@Url.Content("~/Images/ims2.jpg")');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .login-container {
            background: rgba(255, 255, 255, 0.8); /* Add a white background with some transparency */
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .login-header {
            text-align: center;
        }

        .login-content {
            margin-top: 20px;
        }
    </style>
</head>
<body class="bg-warning">
    <header>
    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            <div class="row background-image">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="login-container">
                        <header class="login-header">
                            <div class="app-logo">
                                <div class="row m-0">
                                    <div class="col font-weight-bold text-sm-center text-primary mt-2">
                                        <p class="text-primary" style="font-size:25px;"><b style="color:black">Student Management System</b></p>
                                    </div>
                                </div>
                            </div>
                        </header>
                        <div class="login-content">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        function fValidation(form) {
            return form.validate({

            });
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
