@model JaminY_SMS.Models.Student
<div class="container">
    @{
        ViewData["Title"] = Model.Id > 0 ? "Update Student" : "Add Student";
    }
    <h1 class="mb-4"><b>@(Model.Id > 0 ? "Edit" : "Create") Student Information</b></h1>

    <form method="post" asp-action="AddEdit" enctype="multipart/form-data" class="needs-validation" novalidate>
        <input asp-for="Id" hidden />

        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label asp-for="Name" class="form-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" type="email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="form-label"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label asp-for="Address" class="form-label"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label class="form-label" asp-for="CourseId">Course</label>
                            <select asp-for="CourseId" id="CourseId" class="form-control" asp-items="@(new SelectList(ViewBag.Courses,"Id","CourseName"))">
                                <option value="null" selected disabled>-Please Select-</option>
                            </select>
                            <span class="text-danger" asp-validation-for="CourseId"></span>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label asp-for="Section" class="form-label"></label>
                            <select asp-for="Section" class="form-control" asp-items="ViewBag.Sections">
                                <option value="null" class="select-placeholder">-Please select-</option>
                            </select>
                            <span asp-validation-for="Section" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label asp-for="Class" class="form-label"></label>
                            <input asp-for="Class" class="form-control" />
                            <span asp-validation-for="Class" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Gender" class="form-label"></label>
                            <div class="form-check form-check-inline">
                                <input type="radio" asp-for="Gender" value="Male" class="form-check-input" required />
                                <label class="form-check-label">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" asp-for="Gender" value="Female" class="form-check-input" required />
                                <label class="form-check-label">Female</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" asp-for="Gender" value="Other" class="form-check-input" required />
                                <label class="form-check-label">Other</label>
                            </div>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label asp-for="IsActive" class="form-label">Status</label>
                            <div class="form-check form-check-inline">
                                <input type="radio" asp-for="IsActive" value="true" class="form-check-input" />
                                <label class="form-check-label">Active</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" asp-for="IsActive" value="false" class="form-check-input" />
                                <label class="form-check-label">Inactive</label>
                            </div>
                            <span asp-validation-for="IsActive" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="image-uploaded mb-3">
                    @if (!string.IsNullOrEmpty(Model?.ImageUrl))
                    {
                        <img src="/@Model.ImageUrl" id="userPhotos" class="img-thumbnail" style="height:200px;width:180px;">
                    }
                    else
                    {
                        <img id="userPhoto" class="img-thumbnail" style="height:200px;width:180px;">
                    }
                </div>
                <div class="input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-outline-primary">
                            Upload Photo
                            <input asp-for="ImageFile" class="form-control" onchange="readURL(this)" style="display: none;" />
                        </span>
                    </label>
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6">
                <button type="submit" class="btn btn-outline-primary float-end ">@((Model.Id > 0) ? "Update" : "Create")</button>
            </div>
            <div class="col-md-6">
                <a asp-action="Index" class="btn btn-outline-secondary float-start" asp-controller="Student">Back</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    if ('@Model?.ImageUrl' == '') {
                        $('#userPhoto').attr('src', e.target.result);
                    } else {
                        $('#userPhotos').attr('src', e.target.result);
                    }
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}
